/* Constant - Applies to ALL pages */
/*General*/

h1, h2, h3 {
	font-family: "Caprasimo";
}
p, li {
	font-family: "Varela Round";
	font-size: 20px;
}

/* Logo */
header {
	text-align: center;
	font-family: "Caprasimo";
}

.wcfc_title {
	color: #2F58E0;
}

.wcfc_sub_title {
	color: #ED2F2F;
}

/* Navigation */
.wcfc_nav_base {
	/*background-color: #FFBB00 !important;*/
	background-color: #41ABE0 !important;
}

.wcfc_nav_container {
	display: flex;
	justify-content: center;
}

.wcfc_nav_select {
	display: flex;
	gap: 16px;
	list-style: none;
	margin-left: 22vw; /* Will use media query to fix later */
}

/* Navigation Button n States */
.wcfc_nav_link {
	/*background-color: #41ABE0;*/
	background-color: white !important;
	color: #41ABE0;
	padding: 1rem 8rem;
	font-size: 20px;
	gap: 16px;
}

.wcfc_nav_link:hover {
	background-color: #e3e3e3 !important;
}

.wcfc_nav_link[aria-current="page"] {
	background-color: #FFBB00 !important;
	color: black;
}

/* Footer */
.wcfc_footer {
	background-color: #FFBB00;
	text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
}

/* Footer Button n States */

.wcfc_footer_link {
	/*background-color: #41ABE0;*/
	padding: 1rem 2rem;
	margin-bottom: 1rem;
}

.wcfc_footer_link:hover {
	text-decoration: underline;
	background-color: white;
}

/* End of CONSTANT*/
/* Index/Home Page - Only applies to index.html */
.wcfc_welcome {
	text-align: center;
}

.wcfc_index_flex {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	margin: 1rem 6rem auto;
}

.wcfc_side_clovis, .wcfc_side_info {
	background-color: #41ABE0;
}

.wcfc_side_info {
	padding: 5rem 4rem;
	display: flex;
	flex-direction: column;
}

.wcfc_preview {
		display: flex;
	flex-direction: column;
	gap: 1rem;
}

.wcfc_carousel { /* It's IMPORTANT that both the carousel and the images use the same dimensions, otherwise the whole thing would change when sliding to the next image*/
	width: 787px;
	height: 525px;
	/*width: 590px;
	height: 394px;*/
}

.wcfc_carousel_button {
	outline: 8px solid white;
}

.wcfc_img_preview {
	width: 787px;
	height: 525px;
	/*width: 590px;
	height: 394px;*/
}

body .wcfc_img_preview_caption {
	background-color: white;
	color: black;
	border: 8px solid #2F58E0;
	border-radius: 8px;
}

.wcfc_primary_btn {
	background-color: #ED2F2F;
	outline: 6px solid #FFBB00;
	color: white;
	padding: 1rem 2rem;
}

.wcfc_side_clovis {
	padding: 4rem 4rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.wcfc_side_clovis > img {
	/*width: 300px;
	height: 225px;*/
	width: 225px;
	height: 169px;
}

/* Menu Page - Only applies to menu.html */
.wcfc_menu_flex {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 1rem 3rem auto; /* Will change with media query */
	padding-bottom: 6rem;
}

.wcfc_menu_indie {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.wcfc_label {
	text-align: center;
	background-color: white;
}

.wcfc_inline_note {
	text-align: center;
}

.wcfc_menu_bvs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.wcfc_menu_co {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.wcfc_menu_foldable {
	background-color: #41ABE0;
	outline: 8px solid black;
}

.wcfc_menu_static {
	background-color: #41ABE0;
	outline: 8px solid black;
}

.wcfc_toggle_label {
	background-color: white;
	font-size: 32px;
}

.wcfc_menu_img {
	width: 15vw;
	height: auto;
	margin: 1rem;
}

/* Contact Page - Only applies to contact.html */
.wcfc_contact_flex {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin: 1rem 12rem auto; /* Will change with media query */
	padding-bottom: 6rem;
}

.wcfc_google_maps {
	/*width: 600px;
	height: 450px;*/
	width: 32vw;
	height: 24vw;
	border: 8px solid #2F58E0;
}

.wcfc_form_n_social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 8rem;
	gap: 1rem;
}

.wcfc_form {
	background-color: #FFBB00;
	padding: 4rem;
}

.wcfc_socials {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.wcfc_socials > a > img {
	width: 84px;
	height: 84px;
}

/* About Us Page - Only applies to about.html*/

.wcfc_about_flex {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin: auto 12rem; /* Will change with media query */
	padding-bottom: 12rem;
}

.wcfc_info_card {
	background-color: #2F58E0;
	color: white;
	margin: 0.5rem 1rem auto 1rem;
}

.wcfc_info_card > h3 {
	background-color: white;
	color: black;
	text-align: center;
}

.wcfc_info_desc {
	margin-left: 8px;
}