/* Menu Page - Only applies to menu.html */
/* Main Flexbox */
.wcfc_menu_flex {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 1rem 3rem auto; /* Will change with media query */
	padding-bottom: 6rem;
}

/* Accordions */
.accordion {
	--bs-accordion-body-padding-x: 8rem;
}

.wcfc_accordion_label {
	font-size: 2rem;
}

.wcfc_accordion_label[aria-expanded="true"] {
	background-color: #FFBB00;
}

.accordion-header {
	filter: drop-shadow(0px 7px 4px #322b91);
}

.accordion-body {
	background-color: #41ABE0;
}

.accordion-body > img, .wcfc_menu_chowder_flex > img {
	filter: drop-shadow(-9px 10px 4px #322b91);
}

::after {
	display: none;
}

/* Individual Section Flex */
#wcfc_menu_indi_accordion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

/* Section Headlines */

.wcfc_head_label, .wcfc_inline_note {
	text-align: center;
	background-color: #2F58E0;
	color: white;
}

.wcfc_head_primary_label {
	background-color: #ED2F2F;
	color: white;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* "includes with free drink..." */
.wcfc_inline_note {
	padding-top: 1rem;
}

/* Best Value & Sandwich Flex */
#wcfc_menu_hrec_accordion {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.wcfc_menu_accord_flex {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding-bottom: 7rem;
}

/* Chowder & Other Flex */
#wcfc_menu_other_accordion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.wcfc_menu_drink_flex {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.wcfc_menu_img {
	width: 15vw;
	height: auto;
	margin: 1rem;
	border: 8px solid white;
}

.wcfc_menu_drink_beer > h3, .wcfc_menu_drink_soda > h3 {
	color: white;
}

@media (max-width: 834px) {
	.wcfc_menu_flex {
	gap: 1rem;
	margin: 0.5rem 1rem auto; /* Will change with media query */
	padding-bottom: 3rem;
}

	.accordion {
	--bs-accordion-body-padding-x: 2rem;
}

	::after {
	display: inline;
}
	#wcfc_menu_indi_accordion {
	flex-direction: column;
	gap: 1rem;
}

#wcfc_menu_hrec_accordion {
	flex-direction: column;
	gap: 1rem;
}

.wcfc_menu_accord_flex {
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 0rem;
}

#wcfc_menu_other_accordion {
	flex-direction: column;
	gap: 1rem;
}

.wcfc_menu_img {
	width: 60vw;
	margin: 0.5rem;
}

}
