/* This stylesheet handles elements EXCLUSIVE to index.html */

/* Headings */
.wcfc_side_heading {
	color: white;
}

h3 {
	color: #2F58E0;
}

/* Welcome Message */
.wcfc_welcome {
	text-align: center;
	margin: 1rem 8rem 1rem;
	color: #41ABE0;
}

.wcfc_welcome > h3 {
	color: inherit;
}

/* Main Section */
.wcfc_index_flex {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	align-items: center;
	margin: 1rem 6rem 2rem;
}

/* Side cards - General */
.wcfc_side_clovis, .wcfc_side_info {
	background-color: #41ABE0;
}

.wcfc_side_info, .wcfc_side_clovis {
	padding: 4rem 4rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	outline: 4px solid #2F58E0;
	border: 8px solid white;
	filter: drop-shadow(0px 14px 4px #92b6c0);
}

.wcfc_side_clovis > img {
	border: 8px solid white;
	filter: drop-shadow(-9px 10px 4px #322b91);
}

/* Preview Carousel */

.wcfc_preview {
		display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.wcfc_preview > h3 {
	text-align: center;
}

.wcfc_carousel { /* It's IMPORTANT that both the carousel and the images use the same dimensions, otherwise the whole thing would change when sliding to the next image*/
	width: 787px;
	height: 525px;
	outline: 8px solid #2F58E0;
	border: 8px solid white;
	filter: drop-shadow(0px 14px 4px #92b6c0);
	/*width: 590px;
	height: 394px;*/
}

.wcfc_carousel_button {
	outline: 8px outset white;
}

.carousel-control-prev:focus-visible, .carousel-control-next:focus-visible {
	background-color: rgba(237, 47, 47, 0.5);
}

.wcfc_img_preview {
	width: 787px;
	height: 525px;
	/*width: 590px;
	height: 394px;*/
}

body .wcfc_img_preview_caption {
	color: #2F58E0;
	background-color: white;
	font-size: 20px !important;
	padding-top: 0rem;
	padding-bottom: 0rem;
	outline: 4px solid #2F58E0;
}

/* Side Card - Clovis */

.wcfc_side_clovis > img {
	/*width: 300px;
	height: 225px;*/
	width: 225px;
	height: 169px;
}

/* Media Queries */
@media (max-width: 768px) {
	.wcfc_welcome {
		margin: 1rem 2rem 1rem;
	}
	
	.wcfc_index_flex {
		display: flex;
		flex-direction: column;
		margin: 1rem 2rem 0.5rem;
	}
	
	.wcfc_carousel {
		width: 394px;
		height: 263px;
	}
	
	.wcfc_img_preview {
		width: 394px;
		height: 263px;
	}
	
	body .wcfc_img_preview_caption {
		font-size: 12px !important;
		background-color: white;
		color: #2F58E0;
		text-shadow: none;
		padding-top: 0rem;
		padding-bottom: 0rem;
		outline: 4px solid #2F58E0;
	}
	
	.wcfc_side_info {
	padding: 1rem 1rem;
	flex-direction: column;
	text-align: center;
	}
	
	.wcfc_side_clovis {
		padding: 1rem 1rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	
	.wcfc_mobile_hide {
		display: none;
	}
}
